/* Pagination */

.pagination i {
	color: var(--gray) !important;
	font-size: 1.6rem !important;
}

.pagination .page-item {
	margin-top: auto;
	margin-bottom: auto;
}

.pagination .page-item .page-link:hover {
	background-color: transparent !important;
}

.pagination .page-item:not(.active) .page-link {	
	padding-top: 0!important;
	padding-bottom: 0!important;
	padding-left: .5rem!important;
	padding-right: .5rem!important;
	border: none !important;
	background-color: transparent !important;
}

.pagination .page-item.active .page-link {
	color: #fff !important;
	font-size: 1.1rem;
    font-weight: bold;
	background-color: var(--blue) !important;
    border-color: var(--blue) !important;
	border-radius: 0.25rem !important;
	padding: .3rem .6rem;
}